/* body {
background-color: lightblue;
background-image: url(aot.jpg);
background-repeat: repeat-x;
background-size: cover;
background-position: right top;
}


h1 {
    color: white;
    background-color: aqua;
    text-align: center;
    border: 3px dashed tomato;
    
}

p {
    font-family: Verdana;
    font-size: 40px;
   
}

#paral {
    color: bisque;
}

.sss {
    font-weight:bold;
    text-decoration: underline;
}

body.h1 {
    font-style: italic;
} */

body {
    background-image: url(Black-Boy-studying.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: white;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    color: orangered;
}

p {
  
    font-size: 48px;
    color: tomato;
    text-align: center;
    font-weight: bolder;
    
}

#sadikurQuote {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 30px;
    color: azure;
}

div {
    margin-bottom: 2px;
    border: 3px solid black;
    padding: 10px;
   
}

h2 {
    margin-top: 50px;
    color: white;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th,td {
    height: 50px;
    width: 100;
}

th {
    height: 80px;
}





